<header class="header">
	<div class="container">
		{{! LOGO START }}
		<div class="logo-area">
			{{! HEADER SIDEBAR START }}
			<div class="header-sidebar">
				<i class="fa fa-bars header-sidebar-button"></i>
				{{! SIDEBAR START }}
				<aside class="sidebar-header sidebar">
					<div class="close-button">x</div>
					{{! WIDGET START }}
					{{> "widgets/last-posts"}}
					{{! WIDGET END }}
					
					{{! WIDGET START }}
					{{> "widgets/tags"}}
					{{! WIDGET END }}
				</aside>
				{{! SIDEBAR START }}
			</div>
			{{! HEADER SIDEBAR END }}
			{{! HEADER SOCIAL MEDIA START }}
			<div class="header-social-media">
				<ul class="social-links">
					{{#if @blog.facebook }}
						<li><a href="{{facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
					{{/if}}
					{{#if @blog.twitter}}
						<li><a href="{{twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
					{{/if}}
                    <li><a href="https://instagram.com/lemonaidapp" target="_blank"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
			{{! HEADER SOCIAL MEDIA END }}
			{{! HEADER SEARCH START }}
			<div class="header-search">
				<ul>
					<li><a href="http://blog.lemonaidrecruiting.com"><i class="fa fa-home"></i></a></li>
                    <li><a href="http://lemonaidrecruiting.com"><i class="fa fa-mobile"></i></a></li>
						<li><a href="#" data-toggle="modal" data-target="#header_search"><i class="fa fa-search"></i></a>
						<div class="modal fade" id="header_search" tabindex="-1" role="dialog" aria-labelledby="header_search">
							<div class="modal-dialog search_modal" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body">
										<form class="search-form">
											<input type="text" placeholder="Search and hit enter..." name="s" class="search" id="search-field" autofocus>
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
										<ul class="post-results" id="results"></ul>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			{{! HEADER SEARCH END }}
			{{! HEADER LOGO START }}
			{{#if @blog.logo}}
				<div class="header-logo">
					<a href="http://lemonaidrecruiting.com">
						<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
					</a>
				</div>
			{{/if}}
			{{! HEADER LOGO END }}
		</div>
		{{! LOGO END }}
	</div>
	{{! MENU START }}
	{{ navigation }}
	{{! MENU END }}
</header>