{{! This is the post loop - each post will be output using this markup }}
{{#if @labs.publicAPI}}
	{{#get "posts" limit="4" include="tags,author"}}
		{{#foreach posts}}
		<div class="item">
			<article class="post format-standard">
				<div class="post-image" style="background-image:url({{image}});">
					<a class="post-link" href="{{url}}"></a>
					<div class="slider-content">
						<h2><a href="{{url}}">{{title}}</a></h2>
						<ul class="post-information">
							<li class="author">By {{author}}</li>
							<li class="seperate"></li>
							<li class="date">{{date format="MMMM DD, YYYY"}}</li>
							<li class="seperate"></li>
							<li class="comment disqus-comment-count"><a href="{{url}}#disqus_thread" data-disqus-identifier="ghost-{{id}}">Comments</a></li>
						</ul>
					</div>
					
				</div>
			</article>
		</div>
		{{/foreach}}
	{{/get}}
{{/if}}