{{! This is the post loop - each post will be output using this markup }}

{{#is "home"}}
	{{#foreach posts from="5"}}
		{{! POST START }}
		<article class="post format-standard">
			{{#if image}}
				<div class="post-image-wrap">
					<a class="image" href="{{url}}" style="background-image:url({{image}});"></a>
				</div>
			{{/if}}
			<div class="post-wrapper">
				<div class="post-header">
					<h2><a href="{{url}}">{{title}}</a></h2>
					<div class="categories">
						{{#foreach tags}}
							<a class="category" href="{{url}}">{{name}}</a>
						{{/foreach}}
					</div>
					<ul class="post-information">
						<li class="author">{{author}}</li>
						<li class="seperate"></li>
						<li class="date">{{date format="MMMM DD, YYYY"}}</li>
						<li class="seperate"></li>
						<li class="comment"><a href="{{url}}#disqus_thread" data-disqus-identifier="ghost-{{id}}">Comments</a></li>
					</ul>
				</div>
				<div class="post-excerpt">
					<p>{{excerpt characters="370"}}...</p>
				</div>
				<div class="post-bottom">
					<div class="post-read-more">
						<a href="{{url}}">Read More</a>
					</div>
					<div class="post-share">
						<ul>
							<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/home?status={{url absolute="true"}}%20{{tags prefix="%23" separator="%20%23" autolink="false"}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</article>
		{{! POST END }}
	{{/foreach}}
{{else}}
	{{#foreach posts}}		
		{{! POST START }}
		<article class="post format-standard">
			{{#if image}}
				<div class="post-image-wrap">
					<a class="image" href="{{url}}" style="background-image:url({{image}});"></a>
				</div>
			{{/if}}
			<div class="post-wrapper">
				<div class="post-header">
					<h2><a href="{{url}}">{{title}}</a></h2>
					<div class="categories">
						{{#foreach tags}}
							<a class="category" href="{{url}}">{{name}}</a>
						{{/foreach}}
					</div>
					<ul class="post-information">
						<li class="author">{{author}}</li>
						<li class="seperate"></li>
						<li class="date">{{date format="MMMM DD, YYYY"}}</li>
						<li class="seperate"></li>
						<li class="comment"><a href="{{url}}#disqus_thread" data-disqus-identifier="ghost-{{id}}">Comments</a></li>
					</ul>
				</div>
				<div class="post-excerpt">
					<p>{{excerpt characters="370"}}...</p>
				</div>
				<div class="post-bottom">
					<div class="post-read-more">
						<a href="{{url}}">Read More</a>
					</div>
					<div class="post-share">
						<ul>
							<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/home?status={{url absolute="true"}}%20{{tags prefix="%23" separator="%20%23" autolink="false"}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</article>
		{{! POST END }}
	{{/foreach}}
{{/is}}

