<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	{{! Styles }}
    <link href="{{asset "css/normalize.css"}}" rel="stylesheet"/>
    <link href="{{asset "css/screen.css"}}" rel="stylesheet"/>
    <link href="{{asset "css/responsive.css"}}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans:400,400i,700|Suez+One" rel="stylesheet"/>
 
    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ghost_head}}
</head>

<body class="{{body_class}}" itemscope itemtype="http://schema.org/WebPage">
    <div class="outer-wrapper">
        {{! Header }}
        <nav class="navigation">{{> header}}</nav>

    	<div class="container">
    	{{{body}}}
    	</div>

        {{! footer }}
        {{> footer}}

    	{{ghost_foot}}
    </div>

    {{! The main JavaScript file for Mocha }}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{asset "js/instafeed.js"}}"></script>
    <script src="{{asset "js/jflickrfeed.js"}}"></script>
    <script src="{{asset "js/stickykit.js"}}"></script>
    <script src="{{asset "js/ghostHunter.js"}}"></script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
    <script src="{{asset "js/custom.js"}}"></script>

    {{> config}}
</body>
</html>