{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}
<div class="site-sub-content">
	<div class="container">
		{{#author}}
			{{! CATEGORY TITLE START }}
			<section class="category-archive-title">
			<h1>Author: <span>{{name}}</span></h1>
			</section>
			{{! CATEGORY TITLE END }}
			{{! AUTHOR ABOUT START }}
			<div class="post-bottom-element">
				<div class="post-author">
					<aside class="about-author">
						<div class="about-widget-image" style="background-image:url({{cover}})">
							<img src="{{image}}" alt="{{name}}'s Picture">
						</div>
						<div class="about-content">
							<h2>{{name}}</h2>
							<p>{{bio}}</p>
							<div class="author-social-link">
								<ul>
									{{#if facebook}}
										<li><a href="{{facebook_url}}" title="{{name}}'s Facebook Page" target="_blank"><i class="fa fa-facebook"></i></a></li>
									{{/if}}
									{{#if twitter}}
										<li><a href="{{twitter_url}}" title="{{name}}'s Twitter Page" target="_blank"><i class="fa fa-twitter"></i></a></li>
									{{/if}}
									{{#if location}}
										<li><i class="fa fa-map-marker"></i><span class="author-location icon-location">{{location}}</span></li>
									{{/if}}
									{{#if website}}
										<li><a href="{{website}}" title="{{name}}'s Web Page" target="_blank"><i class="fa fa-link"></i><span>{{website}}</span></a></li>
									{{/if}}
									<li><i class="fa fa-bar-chart"></i><span>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span></li>
								</ul>
							</div>
						</div>
					</aside>
				</div>
			</div>
			{{! AUTHOR ABOUT END }}
		{{/author}}
		<div class="row">
			{{! LEFT CONTENT START }}
			<div class="col-sm-8 col-xs-12 left-content">
				{{! POST LIST START }}
				<div class="post-list">
					{{! POST START }}
					{{! The tag below includes the post loop - partials/loop.hbs }}
					{{> "loop"}}
					{{! POST END }}
				</div>
				{{! POST LIST END }}
				{{! POST PAGINATION START }}
				{{ pagination }}
				{{! POST PAGINATION END }}
			</div>
			{{! LEFT CONTENT END }}
			{{! RIGHT CONTENT START }}
			<div class="col-sm-4 col-xs-12 right-content fixedrightSidebar">
				{{! SIDEBAR START }}
				<aside class="sidebar-general sidebar">
					{{! WIDGET START }}
					{{> "widgets/last-posts"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/tags"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/instagram"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/categories"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/newsletter"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/social-media"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/advertisement"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/facebook"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "widgets/twitter"}}
					{{! WIDGET END }}
				</aside>
				{{! SIDEBAR END }}
			</div>
			{{! RIGHT CONTENT END }}
		</div>
	</div>
</div>